@page "/admin"
@inject HttpClient HttpClient
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authorization
@using PortfolioBlazor.Models
@attribute [Authorize(Roles = "Admin")]

<h3>Admin Dashboard</h3>
<p>Welcome to the Admin Panel!</p>

<button class="btn btn-success mb-3" @onclick="AddNewTech">Add New Tech</button>

@if (techs == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container-fluid px-2" style="max-width:800px;min-width:350px;">

        <table class="table">
            <thead>
                <tr>
                    <th>techName</th>
                    <th>Experience</th>
                    <th>Skill-lvl</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tech in techs)
                {
                    <tr>
                        <td>@tech.Technologies</td>
                        <td>@tech.TechExperience</td>
                        <td>@tech.SkillLevel</td>
                       
                 
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<TechsModel>? techs;

    protected override async Task OnInitializedAsync()
    {
        await LoadTechs();
    }

    private async Task LoadTechs()
    {
        techs = await HttpClient.GetFromJsonAsync<List<TechsModel>>("https://localhost:7192/api/techs");
    }

    private void AddNewTech()
    {
        Navigation.NavigateTo("/admin/addtech");
    }

    private void EditTech(string id)
    {
        Navigation.NavigateTo($"/admin/edittech/{id}");
    }

    private async Task DeleteTech(string id)
    {
        var response = await HttpClient.DeleteAsync($"https://localhost:7192/api/deletetech{id}");
        if (response.IsSuccessStatusCode)
        {
            await LoadTechs();
        }
    }
}
