@page "/portfolio"

@using PortfolioBlazor.Services
@using Microsoft.AspNetCore.Components.Web
<h2 class="text-center mt-5">🚀 Portfolio</h2>
<p>This is the portfolio section.</p>
<DevOpsTerminal/>
@code {

}
