@inject MinimalApi server
@using PortfolioBlazor.Models
@using PortfolioBlazor.Server




    <div class="mt-3 p-3 bg-dark text-success rounded" style="max-width:1000px; min-width:375px;">
        <pre>
            <code>
                provider "skills" {
                  name = "My Tech Skills Portfolio"
                }

                @foreach (var skill in Skills)
                {
                    @:resource "tech_skill" "@(skill.Technologies.ToLower())" {
                    @:  name        = "@skill.Technologies"
                    @:  experience  = "@skill.TechExperience"
                    @:  skill_level = @(skill.SkillLevel)
                    @:}
                }
            </code>
        </pre>
    </div>

@code {
    [Parameter]public List<TechsModel> Skills { get; set; } = new();

    private bool showIaC = false;
    protected override async Task OnInitializedAsync()
    {
        Skills = await server.FetchTechsAsync();
    }
    private void ShowSkillsAsIaC()
    {
        showIaC = !showIaC;
    }
}

