@page "/skills"
@using PortfolioBlazor.Services
@using Microsoft.AspNetCore.Components.Web

<h2 class="text-center mt-5">🛠️ Skills</h2>
<p>This is the skills section.</p>
<DevOpsTerminal/>

@code {

}
