<div class="nav-menu hidden-navbar">
    <NavLink class="nav-link" href="/projects">Projects</NavLink>
    <NavLink class="nav-link" href="/skills">Skills</NavLink>
    <NavLink class="nav-link" href="/portfolio">Portfolio</NavLink>
</div>
