@using Microsoft.AspNetCore.Components.Authorization
<div class="nav-menu hidden-navbar">
    <NavLink class="nav-link" href="/projects">Projects</NavLink>
    <NavLink class="nav-link" href="/skills">Skills</NavLink>
    <NavLink class="nav-link" href="/portfolio">Portfolio</NavLink>
    <AuthorizeView>
            <Authorized>
                <NavLink href="/admin">Admin Dashboard</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink href="/login">Admin Login</NavLink>
            </NotAuthorized>
        </AuthorizeView>          

</div>
