@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
    <main>
    
        <div class="content min-vh-100 pushterminal">
            @Body
        

        </div>
    </main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss" href="">🗙</a>
</div>
