

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-transparent text-light border-0 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title mb-4">About Me</h2>
                    <p class="card-text fs-5 firacode">
                        I am passionate about solving complex problems, optimizing infrastructure, and automating workflows.
                        My expertise lies in developing and managing cloud environments that prioritize scalability, reliability, and efficiency.
                        I thrive on building robust CI/CD pipelines, containerization strategies, and cloud architectures that streamline operations and enhance system performance.
                    </p>
                    <p class="card-text fs-5">
                        Beyond my dedication to DevOps, I enjoy playing the piano, exploring emerging technologies,
                        and engaging in creative projects that fuel my curiosity and drive innovation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
