@inject IJSRuntime js

<div class="modal fade show" id="projectdemo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@SelectedProject?.project</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body">
                <iframe src="@SelectedProject?.githubUrl" style="width:100%; height:60vh; border:none;"></iframe>
            </div>
        </div>
    </div>
</div>

@code {
    private TechsModel? SelectedProject { get; set; }

    public async Task ShowDemoModalAsync(TechsModel project)
    {
        SelectedProject = project;
        StateHasChanged();
        await Task.Delay(100); // Allow time for the DOM update
        await js.InvokeVoidAsync("showDemoModal", "projectdemo");
    }

    private void CloseModal()
    {
        SelectedProject = null;
    }
}
