.terminal {
    /* bottom: 0;*/
    width: 100% !important;
    /* position: fixed !important;*/
    font-family: 'Fira Code', monospace;
    overflow: auto;
    background-color: #1e1e1e;
    max-height:30vh;
}

/* Terminal Header (like VSCode) */
.terminal-header {
    border-bottom: 1px solid #333;
    /*padding-bottom: 5px;*/
}

/* Path Display */
.path-display {
    font-weight: bold;
    color: #00ffaa;
    /* margin-bottom: 5px;*/
}

/* Log Output */
.log-output {
    height: 150px;
    overflow-y: auto;
    background-color: #121212;
    padding: 0.5rem;
    border-radius: 5px;
    color: #00ffaa;
    font-size: 0.85rem;
    border: 1px solid #333;
}

/* Input Field Customization */
.input-group-text {
    font-weight: bold;
}

.form-control::placeholder {
    color: #00ff7f;
    opacity: 0.6;
}

.command-input {
    width: 100%;
    background: transparent;
    border: none;
    color: #00ff7f;
    font-size: 1.2rem;
}

    .command-input:focus {
        outline: none;
    }
