@inject NavigationManager navigator
@{
    // Get the current relative path in lowercase (without query strings)
    var currentRoute = navigator.ToBaseRelativePath(navigator.Uri).ToLower();
}

@if (currentRoute != "projects")
{
    <a class="btn btn-outline-success btn-lg" href="/projects" @onclick="ProjectBtn">Projects</a>
}
@if (currentRoute != "skills")
{
    <a class="btn btn-outline-success btn-lg" href="/skills" @onclick="SkillsBtn">Skills</a>
}
@if (currentRoute != "")
{
    <a class="btn btn-outline-success btn-lg" href="/" @onclick="HomeBtn">Home</a>
}
@if (currentRoute != "about")
{
    <a class="btn btn-outline-success btn-lg" href="/about" @onclick="AboutBtn">About</a>
}

@code {
    private void SkillsBtn()
    {
        navigator.NavigateTo("/skills");
    }
    private void ProjectBtn()
    {
        navigator.NavigateTo("/projects");
    }
    private void AboutBtn()
    {
        navigator.NavigateTo("/about");
    }
    private void HomeBtn()
    {
        navigator.NavigateTo("/");
    }
}
