@inject NavigationManager navigator
@{
    // Get the current relative path in lowercase (without query strings)
    var currentRoute = navigator.ToBaseRelativePath(navigator.Uri).ToLower();
}

@if (currentRoute != "projects")
{
    <button class="btn btn-outline-danger btn-lg" @onclick="ProjectBtn">Projects</button>
}
@if (currentRoute != "skills")
{
    <button class="btn btn-outline-info btn-lg" @onclick="SkillsBtn">Skills</button>
}
@if (currentRoute != "")
{
    <button class="btn btn-outline-success btn-lg" @onclick="HomeBtn">Home</button>
}
@if (currentRoute != "about")
{
    <button class="btn btn-outline-info btn-lg" @onclick="AboutBtn">About</button>
}

@code {
    private void SkillsBtn()
    {
        navigator.NavigateTo("/skills");
    }
    private void ProjectBtn()
    {
        navigator.NavigateTo("/projects");
    }
    private void AboutBtn()
    {
        navigator.NavigateTo("/about");
    }
    private void HomeBtn()
    {
        navigator.NavigateTo("/");
    }
}
