
.bg-python {
    background-color: rgba(0, 84, 135, 0.8);
}

.bg-sql {
    background-color: rgba(0, 84, 135, 0.8); 
}

.bg-azure {
    background-color: rgba(0, 120, 212, 0.8); 
}

.bg-kubernetes {
    background-color: rgba(50, 112, 214, 0.8);  
}

.bg-mongodb {
    background-color: rgba(77, 182, 172, 0.8);  
}

.bg-firebase {
    background-color: rgba(255, 167, 38, 0.8);  
}

.bg-restapi {
    background-color: rgba(0, 150, 136, 0.8);  
}

.bg-blazor {
    background-color: rgba(90, 32, 186, 0.38);
}

.bg-react {
    background-color: rgba(74, 220, 211, 0.76);  
}

.bg-csharp {
    background-color: rgba(99, 46, 134, 0.8); 
}

.bg-docker {
    background-color: rgba(0, 117, 177, 0.8);  
}

.bg-terraform {
    background-color: rgba(93, 61, 178, 0.8);  
}

.skill-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

    .skill-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }



.skill-card {
    cursor: pointer;
}
