@page "/test"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@using PortfolioBlazor.Models
@using PortfolioBlazor.Server
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient http
@inject MinimalApi server
                        
           
    @if (AdminContent != null)
    {
                      
            @AdminContent         
    }
    else
    {
        <div class="col mb-3">
            <div class="card skill-card border bg-danger pb-5 text-white rounded" style="z-index:500;">
                <img class="card-img-top" src="/Images/firebase.png" />

                <div class="card-body">
                    <h5 class="card-title">@Skill.Technologies</h5>
                            
                    <p class="card-text">123312</p>
                             
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    }
                
   

           

                       


@code {
    [Parameter]
    public RenderFragment? AdminContent { get; set; }
    [Parameter] public Func<TechsModel, Task>? OnEdit { get; set; } 

    [Parameter] public TechsModel Skill { get; set; } = default!;
    public string? testmsg;
    [Parameter]
    public bool isAuthorized { get; set; }

    

   

    private async Task HandleEdit()
    {
        if (OnEdit != null)
        {
            await OnEdit.Invoke(Skill);
        }
    }
  
}