@page "/"
@inject IJSRuntime jsruntime
@inject NavigationManager navigator
@inject MinimalApi server
<PageTitle>Home</PageTitle>
<title>Home</title>

<div id="particles-js"></div>
<div class="container-fluid pt-5 text-white text-center" style="z-index:500;">
 
    <div class="d-flex flex-column align-items-center">
            <img src="/Images/Dersim2_converted.webp" crossorigin="anonymous" class="rounded-circle animate__animated animate__fadeInLeft m-5" alt="Dersim Abbas Profile" style="max-width:250px;" />
       
            <div class="d-flex justify-content-center gap-4" style="z-index:500;">
                <a class="link-info fs-2" href="https://www.linkedin.com/in/dersimabbas/" target="_blank">
                    <i class="bi bi-linkedin link-primary"alt="linkedin-link"></i>
                </a>
                <a class="link-info fs-2" href="https://www.github.com/dersimabbas" target="_blank">
                    <i class="bi bi-github link-light" alt="github-link"></i>
                </a>

            <a class="link-info fs-2" href="mailto:dersim.abbas99@gmail.com" target="_blank">
                    <i class="bi bi-envelope-at link-light"alt="email-link"></i>
                </a>
                
            </div>

            <p class="display-6  text-light ">Hi! I’m Dersim Abbas - Junior DevOps Engineer</p>

            <!-- Typewriter Tagline -->
            <p class="typewriters-text text-break fs-4" id="typewriter"></p>

            <p class="mb-4 fs-4 text-light">From CI/CD pipelines to Infrastructure as Code<br /> I help bridge the gap between Development and Operations.</p>
            <p class="card-text text-light fs-4 firacode">
               I thrive on solving complex problems and automating workflows building - <br /> scalable cloud environments and robust CI/CD pipelines.
            </p>
            <p class="card-text text-light fs-5">
                When I'm not immersed in DevOps, I enjoy playing the piano and exploring creative tech projects.<br />
            For more Information use the built in <strong class="text-success">Terminal</strong> or the buttons below.
            </p>
        
           
            <div class="p-2 d-flex justify-content-start gap-2"style="z-index:50;">
               <NavigateButtons/>
            </div>
    </div>

</div>
<DevOpsTerminal />

@code {

    private bool Display = false;
    private List<TechsModel>? Skills = new();

    protected override async Task OnInitializedAsync()
    {
        Skills = await server.FetchTechsAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsruntime.InvokeVoidAsync(
                "startTypeWriterEffect",
                "typewriter",
                "Empowering Continuous Delivery, Automation, and Cloud Scalability with Modern DevOps Practices.",
                40
            );
          await jsruntime.InvokeVoidAsync("loadParticles");
        }
    }
}   

  


